<h2> Create New Lash Post: </h2>
<p>  <% @error %></p>

<h2>
<form action="/lashes" method="POST">
    <label>Name:</>
    <input type="text" id="name" name="name"><br>
    <label>Brand:</>
    <input type="text" id="brand" name="brand"><br>
    <label>Style:</>
    <input type="text" id="style" name="style"><br></h3><br>
    <input type="text" id="comments" name="comments" placeholder="Comments:">
    <br>
    <br>
    <input type="submit" value="POST">
</form></h2>

<br>
<br>
<h4><a href="/lashes">Home</a></h4>
<h4> <p><a href="/logout">Log Out</a></p></h4>