<h1>"<%= @lashes.name %>"</h1>
<br>
<h2><label>Brand: <%= @lashes.brand %></h2>
<h2><label> Style:</label> <%= @lashes.style %></h2>
<h2> <label>Comments:</label></h2><h3><%= @lashes.comments %></h3>

<br>
<br>
<br>
<h4><a href="/lashes/new">Add New Lash Post</a></h4>
<h4><a href="/lashes">Home</a></h4>
<h4> <p><a href="/logout">Log Out</a></p></h4>