<h3>Welcome to ...  </h3> <h1> Lash Collection </h1>
<h3><p> ...where you can share your favorite lashes and explore the favorites of others! </p></h3>
<p><a href="/login">Log In</a> or <a href="/signup">Sign Up</a> to start sharing YOUR own LASH COLLECTION!</h3></p>
